.sort-header {
  justify-content: space-between;
}
svg {
  cursor: pointer;
}

.add-new {
  // display: flex;
  align-items: center;
  justify-content: space-between;

  .group-btns {
    display: flex;
    gap: 10px;
  }
}
.customize-table {
  width: inherit;
  overflow-x: scroll;
}
.pagination {
  justify-content: center;
}
